<insurBase-header></insurBase-header>
<mat-drawer-container hasBackdrop="false">
  <mat-drawer
    #sidenav
    class="nav-drawer"
    fixedTopGap="56"
    mode="side"
    opened="true"
    position="start"
  >
    <button
      mat-icon-button
      (click)="sidenav.close()"
      class="button-close"
      data-cy="sidenav-button-close"
    ></button>
    <sidenav> </sidenav>
  </mat-drawer>
  <mat-toolbar class="second-toolbar">
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      data-cy="sidenav-button"
      class="sidenav-button"
    >
      <mat-icon
        class="theme-color-primary"
        fontSet="fas"
        fontIcon="fa-sidebar"
      ></mat-icon>
    </button>
    <div class="center theme-color-primary" data-cy="title">Dashboard</div>
  </mat-toolbar>
  <main>
    <div class="flex-row flex-col-md gap-32 gap-0-md gap-0-xs">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Card Title</mat-card-title>
          <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Card content lorem ipsum dolor sit amet consectetur adipiscing elit
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Button 2</button>
          <button mat-button mat-stroked-button color="primary">
            Button 1
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Card Title</mat-card-title>
          <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Card content lorem ipsum dolor sit amet consectetur adipiscing elit
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Button 2</button>
          <button mat-button mat-stroked-button color="primary">
            Button 1
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Card Title</mat-card-title>
          <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Card content lorem ipsum dolor sit amet consectetur adipiscing elit
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Button 2</button>
          <button mat-button mat-stroked-button color="primary">
            Button 1
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </main>
</mat-drawer-container>
