<div class="sidenav-header">
  <img src="img/ibm_cover_small.png" alt="" />
</div>
<mat-list>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 1</span>
  </mat-list-item>
</mat-list>
<mat-divider class="mat-divider"></mat-divider>
<mat-list>
  <div mat-subheader>Header</div>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 2</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 3</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 4</span>
  </mat-list-item>
</mat-list>
<mat-divider class="mat-divider"></mat-divider>
<mat-list>
  <div mat-subheader>Header</div>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 5</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 6</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon fontSet="fas" fontIcon="fa-star"></mat-icon
    ><span class="theme-color-primary">Menu 7</span>
  </mat-list-item>
</mat-list>
